.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-bottom: 50px;
    scroll-margin-top: 80px;
    margin-left: 60px;
}

.rectangle-contact {
    display: flex;
    flex-direction: column;
    background-color: #034C53;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0,1);
    text-align: center;
    width: 50%;
    height: auto;
    border: solid 2px black;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.rectangle-contact h3 {
    font-size: 1.8em;
    color: lavender;
    font-weight: bold;
}

.rectangle-contact p {
    font-size: 1em;
    color: lavender;
}

.contact-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.contact-icons .icon {
    text-decoration: none;
    color: lavender;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 90px;
}

.contact-icons .contact-pictures {
    width: 30px;
    margin-bottom: 10px;
}

.contact-icons .contact-pictures:hover {
    transform: scale(1.3);
}