#edit-home-form {
    display: none;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 100px;
    margin-left: 60px;
    scroll-margin-top: 80px;
}

.rectangle-edit-home {
    background-color: #034C53;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0,1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    border: solid 2px black;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.rectangle-edit-home h3 {
    color: lavender;
    font-size: 1.8em;
}

.cancel-edit-div {
    width: 30px;
    height: 30px;
    align-self: flex-start;
    cursor: pointer;
    color: lavender;
    border: solid 2px lavender;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cancel-edit-button {
    width: 60%;
}

#home-form {
    display: flex;
    flex-direction: column;
    width: 90%;
}

#home-form label {
    color: lavender;
    font-size: 1.2em;
    margin-bottom: 10px;
}

#home-form input, #home-form textarea {
    margin-bottom: 20px;
    border: solid 2px black;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

#home-form input {
    height: 30px;
    padding: 5px;
}

#home-form textarea {
    height: 50px;
    padding: 10px;
}

#home-form button {
    margin-top: 10px;
    width: 50%;
    height: 30px;
    align-self: center;
    border: solid 2px black;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#edit-image {
    color: lavender;
}